<li class="user-comment" >
    <p >
        <span><%=comment.user.name%></span>
        <small>
            <%=comment.content%>
        
      
        <%if (locals.user && locals.user.id==comment.user.id){%>
            
                <a href="/comments/destroy/<%=comment.id%>"><img src="/images//delete-icon.png" alt="" srcset=""></a>
            </small>
            <%}%>

     
       
    </p>
</li>