<footer>


<p>Connect All copyrights reserved</p>

<main>
    <a href="/">Home</a>
    <% if (locals.user){ %>
        <a href="/users/profile/<%= locals.user.id %> ">Profile</a>
<% } %>  
</main>
</footer>